extends layout

block content
  h1= title
  p Here is a  list of my favourite books #{title}
  ul
    each m in books
      li
        a(href=`/books/${m._id}`)= m.name
        
  a(href=`/new`) Create New Book
        
